.headline{
    color:brown;    
    text-align:center;
    font-size:30px;
}

div.help{
    color:blue;
    font-size:15px;
}
.help{
    color:red;
    font-size:25px;
}
#hot{
    background:orange;
}
.main{
    background-color:skyblue;
}