@use "sass:list";
@use "sass:color";

$font-stack: Helvetica, Arial;
$primary-color: #333;

body {
  font-family: 휴먼편지체;
  font-size:90px;
}

a {
  color: red;

  &:hover{
    color: blue;
  }
}

@debug $font-stack;